<!DOCTYPE html>
<html>
<head>
	<title>Remedic</title>
	{% load static %}
	<link rel='stylesheet' href="{% static 'main.css' %}">
</head>

<body>
		
	<div class="container">

		{% block content %}
		<form class="card">
			<h1>Welcome, Raghav</h1>
			<select>
				<option value="default">Choose Disease</option>
				{% for disease in diseases %}
    			<option name="{{ disease.name }}" value="{{ disease.name }}">{{ disease.name }}</option>
				{% endfor %}
			</select>
	        <button type="submit">Submit</button>
		</form>
	{% endblock %}

	<a href="{% url 'logout' %}">Logout</a>
		
	</div>

</body>
</html>